@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 0 0 20%; 
  background-color: #f0f0f0;
  height: 100vh;
}

.main-content {
  flex:  0 0 60%; 
  padding: 16px;
  height: 100vh;
}

.right-side {
  flex: 0 0 20%;
  background-color: #e0e0e0;
  height: 100vh;
}
